@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Declare your default font stack here */
  height: 100%;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  outline: 1px solid gray;
  background-color: rgb(52, 51, 51);
  border-radius: 5px;
  color: white; /* By default, buttons don't inherit the font colour, this is a useful default to override */
}

svg {
  /* Make the SVGs fit the parent container by default */
  height: 100%;
  width: 100%;

  /* Optional - make the SVG's fill be the same as the inherited color */
  fill: currentColor;
}
